.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    padding: 2rem;
    height: min-content;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main {
    min-height: 200svh;
    padding: 2rem;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); */
    /* place-items: center center; */
    gap: 1rem;
}

.homeGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows: masonry;
    grid-auto-flow: dense;
    gap: 1rem;
}


.imageCage {
    position: relative;
    width: 100%;
    height: auto;
    
}

.homeImage {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.postImage {
    width: 100%;
    height: auto;
}

.post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.postInfo {
    height: min-content;
    position: sticky;
    top: 0;
}