.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    padding: 2rem;
    height: min-content;
}

.main {
    min-height: 200svh;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    /* place-items: center center; */
    gap: 1rem;
}

.main div {
    background: red;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center center;
    text-align: center;
    border-radius: 0.5rem;
}
