

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Geist", Arial, Helvetica, sans-serif;
  letter-spacing: -0.03rem;
}