

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  position: relative;
  margin: 0;
  overflow: visible;
}

@media screen and (max-width: 600px) {
 body {
  grid-template-columns: 1fr;
 }
}

h1 {
  font-family: "Geist", Arial, Helvetica, sans-serif;
  letter-spacing: -0.03rem;
}